--frames-per-chunk=20 
--feature-type=mfcc 
--mfcc-config=/home/lijian/workspace/bitbucket/spearsdk/android/SpearSdkExample/app/src/main/assets/com.think-a-move.spear/SPEAR-DATA-EN/SPEAR-WakeUp/conf/mfcc_hires.conf 
--cmvn-config=/home/lijian/workspace/bitbucket/spearsdk/android/SpearSdkExample/app/src/main/assets/com.think-a-move.spear/SPEAR-DATA-EN/SPEAR-WakeUp/conf/online_cmvn.conf 
--global-cmvn-stats=/home/lijian/workspace/bitbucket/spearsdk/android/SpearSdkExample/app/src/main/assets/com.think-a-move.spear/SPEAR-DATA-EN/SPEAR-WakeUp/global_cmvn.stats 
--acoustic-scale=0.1 
--wake-durations=7 
--wakeup-threshold=1.9 
--dur-restart=-1 
--verbose=-1 
--use-priors=true 
